<!-- afficher la question -->
<h1 class="question"><%= @ask %></h1>
<p class='you'> - You </p>
<!-- afficher la réponse -->

<h1 class="answer"><%= @answer %></h1>
<p class='coach'> - The Coach</p>

<a><%= link_to 'Have something more to say ?', ask_path %></a>
